// Screen breakpoints
$medium-screen: 768px;

// Jebel Sifah colors
// $app-background: #f2f2f2;
// $primary-color: #e8903e;
// $secondary-color: #de5928;
// $black: #00000057;
// $white: #fff;
// $grey-10: #dbdbdb;
// $grey-20: #898787;

// Muriya colors
$app-background: #f2f2f2;
$primary-color: #23a7db;
$secondary-color: #207ebd;
$black: #00000057;
$white: #fff;
$grey-10: #dbdbdb;
$grey-20: #898787;
