@import "../../styles/variable.scss";

.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.noSession {
  display: flex;
}

.active {
  color: $primary-color !important;
  font-weight: 700;
}
